.account-info{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    height: 100px;
    align-items: center;
    justify-content: center;

}

.income{

    font-size: 22px;
    border-right: 2px solid rgb(250, 250, 250);
    line-height: 0.21px;
    padding-right: 20px;
    height: 50%;

}

.expense{

    font-size: 22px;
    line-height: 0.21px;
    padding-left: 20px;

}

.total-income{
    font-size: 18px;
    color: rgb(8, 155, 0);
    line-height: 0.21px;
}

.total-expense{
    font-size: 18px;
    color: rgb(188, 11, 11);
    line-height: 0.21px;

}