.history-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    
}

.history-heading{
    border-bottom: 1px solid black;
    line-height: 35px;
}

.transaction-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 228, 228);
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
}

