.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.logo-contianer{
  display: flex;
  background-color: azure;
  width: 100%;
  padding: 20px;
}

.logo{

  font-weight: 100;
  align-self: center;
  justify-self: center;
  padding-left: 40%;
  
}

.accounts-container{
  margin-right: 200px;
  margin-top: 40px;
  padding: 0;
}

.history{
  margin-right: 200px;
  margin-top: 40px;
  padding: 0;
}

.transaction{
  margin-right: 200px;
  margin-top: 40px;
  padding: 0;
}