.new-transaction-container{
    display: flex;
    flex-direction: column;
    width: 250px;
}


.transaction-heading{
    border-bottom: 1px solid black;
    line-height: 35px;
}

.input-container{

}

.input-container input{
    margin-bottom: 10px ;
    height: 20px;
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(122, 34, 149);
}

button{
    height: 40px;
    padding: 5px 10px;
    border: 1px solid rgb(122, 34, 149);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

button:hover{
    background-color: rgb(122, 34, 149);
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
}